.type-object::before { content: '{'; }
.type-object::after { content: '}'; }

.type-string::before { content: '"'; }
.type-string::after { content: '"'; }

.key::after { content: ': '; }

.key-value-pair { 
    display: block;
    padding-left: 20px;
}
.key-value-pair::after { content: ','; }
.key-value-pair:last-of-type::after { content: none; }

.validation-wrong-type { color: orange; }
.validation-missing { color: red; }
.validation-additional { color: green; }
