* {
    margin: 0;
    padding: 0;
}
html { 
    height: 100%;
}
body {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/*
 * vertically maximize <main>
 */
body {
    display:         flex;
    display: -webkit-flex;
            flex-direction: column;
    -webkit-flex-direction: column;
}
main {
            flex: 1;
    -webkit-flex: 1;
}

/*
 * let <div>s in <main> use up all horizontal space
 */
main {
    display:         flex;
    display: -webkit-flex;
}
main > div {
            flex: 1;
    -webkit-flex: 1;
}


#validationInputs, #validationResultContainer {
    display:         flex;
    display: -webkit-flex;
            flex-direction: column;
    -webkit-flex-direction: column;
}
#validationInputs {
    margin-right: 20px;
}
#validationInputs > textarea, #validationResultContainer > div {
            flex: 1;
    -webkit-flex: 1;
}
#validationResult {
	overflow: auto;
}

footer {
	margin-top: 10px;
	text-align: right;
}

h1, h2 {
    margin-bottom: 0.1em;
}
h2 {
    margin-top: 0.2em;
}
a {
	text-decoration: none;
}


.greyed-out {
	opacity: 0.3;
}

.unparseable, .unparseable:focus {
    border: 2px solid red;
    border-radius: 3px;
    box-shadow: 0 0 10px red;
    outline: none;
}
