#results {
    @include fill-vertically-with('article');
    header { @include section-header; }

    .validation-wrong-type { color: $blue; }
    .validation-missing { color: $orange; }
    .validation-additional { color: $green; }

    article { overflow: auto; }

    @import '../summary/_';
    @import '../visualizer/_';
}
