footer {
    @include default-padding;
    font-size: small;
	text-align: right;

    display: flex;
    ul:last-child {
        margin-left: auto;
    }

    ul {
        list-style: none;
        li {
            display: inline;
        }
        li:nth-child(n+2)::before {
            content: ' · ';
        }
    }
}

footer, footer a {
    background: $dark-gray1;
    color: $dark-gray2;
}
