
.jsonEditor {
    /* maximize textarea within section */
	display: flex;
	flex-direction: column;
    textarea {
        flex: 1;
    }

    header {
        display: flex;
        ul { margin-left: auto; }

        @include section-header;
        h2 { font-size: inherit; }
        li {
            display: inline;
            color: $dark-gray1;
        }
    }

    .button:hover {
        color: $blue;
        cursor: pointer;
    }
}

$textarea-border-style: 2px solid;
$textarea-border: $textarea-border-style $gray1;
textarea {
    @include default-padding;
    background: $gray1;
    outline: none;
    resize: none;
    border: none;
    border-top: $textarea-border;
    border-left: $textarea-border;
}

.unparseable {
    border: $textarea-border-style $red;
}
