@mixin wrap($selector, $before, $after) {
    #{$selector}::before { content: '#{$before}'; }
    #{$selector}::after { content: '#{$after}'; }
}

@include wrap('.value.type-object', '{', '}');
.key::after { content: ': '; }

@include wrap('.value.type-array', '[', ']');
@include wrap('.value.type-string', '"', '"');

.value.null, .value.type-boolean { font-style: italic; }

.array-element, .key-value-pair {
    display: block;
    padding-left: 20px;
    &::after { content: ', '; }
    &:last-of-type::after { content: none; }
}

.validation-wrong-type { color: $blue; }
.validation-missing { color: $orange; }
.validation-additional { color: $green; }
