#results {
    @include fill-vertically-with('#validationResult');

    header {
        @include section-header;
    }
    @import 'json';
}

@import 'summary';

#validationResult {
    @include default-padding;
    background: $gray2;
	overflow: auto;

    &.greyed-out {
        opacity: 0.3;
    }
}
