#results {
    header {
        @include section-header;
    }
    @import 'json';
}

@import 'summary';

#validationResult {
    @include default-padding;
    background: $gray1;

    &.greyed-out {
        background: $gray2;
        opacity: 0.3;
    }
}

