.summary {
    display: none;
    ul {
        list-style: none;
        li {
            display: inline;
        }
        li:nth-child(n+2)::before {
            content: ' / ';
            color: $dark-text-color;
        }
    }
    &.valid .icon { color: $green; }
    &.unmet-preconditions .icon { color: $red; }
}

