* {
    margin: 0;
    padding: 0;
}

header, main h2, footer, textarea, #validationResult {
    padding: 5px 10px;
}


/*
 * font matters
 */
header h1 {
    font-size: large;
    font-weight: normal;
}
main h2 {
    font-size: large;
}
footer {
    font-size: small;
}


/*
 * borders
 */
main h2 {
    border-top: 1px solid rgb(66, 68, 78);
}
#validationInputs {
    border-right: 1px solid rgb(66, 68, 78);
}


/*
 * textareas
 */
textarea {
    outline: none;
    resize: none;
    border: none;
    border-top: 2px solid rgb(234, 234, 237);
    border-left: 2px solid rgb(234, 234, 237);
}
.unparseable {
    border: 2px solid red;
}


/*
 * misc
 */
footer {
	text-align: right;
}

a {
	text-decoration: none;
}

.greyed-out {
	opacity: 0.3;
}

