* {
    margin: 0;
    padding: 0;
}

header, main h2, footer, textarea, #validationResult {
    padding: 5px 10px;
}


/*
 * font matters
 */
header h1 {
    font-size: large;
    font-weight: normal;
}
main h2 {
    font-size: large;
}
footer {
    font-size: small;
}


/*
 * borders
 */
$section-border: 1px solid $dark-gray1;
main h2 {
    border-top: $section-border;
}
#validationInputs {
    border-right: $section-border;
}


/*
 * textareas
 */
$textarea-border-style: 2px solid;
$textarea-border: $textarea-border-style $gray1;
textarea {
    outline: none;
    resize: none;
    border: none;
    border-top: $textarea-border;
    border-left: $textarea-border;
}
.unparseable {
    border: $textarea-border-style red;
}


/*
 * misc
 */
footer {
	text-align: right;
}

a {
	text-decoration: none;
}

.greyed-out {
	opacity: 0.3;
}

