footer
  ul
    li Made with
      = ' '
      span.fa.fa-heart
      = ' in '
      a(href='//www.hamburg.de/') Hamburg
        = ' '
        span.fa.fa-anchor
  ul
    li
      a(href='//github.com/alexbepple/how-is-my-json') GitHub Project
    li
      a(href='//github.com/alexbepple/how-is-my-json/issues') Report an issue

