doctype html
html
  head
    meta(charset='utf-8')
    title How is my JSON?
    link(rel='stylesheet', href='app.css')
    link(rel='stylesheet', href=fontAwesome)

  body
    header How is my JSON?

    main
      #inputs
        section#json.jsonEditor
          header
            h2 JSON
            ul
              li
                span.fa.fa-indent.button
          textarea
        section#schema.jsonEditor
          header
            h2 JSON Schema
            ul
              li
                span.fa.fa-indent.button
          textarea

      include results

    include footer

    script(src=jQuery)
    script(src='app.js')

    if env == 'prod'
      script
        include google-analytics.js
