doctype html
html
  head
    meta(charset='utf-8')
    title How is my JSON?
    link(rel='stylesheet', href='app.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

  body
    header How is my JSON?

    main
      #validationInputs
        h2 JSON to validate
        textarea#jsonToValidate
        h2 JSON Schema
        textarea#schema

      include results

    include footer

    script(src=jQuery)
    script(src='app.js')

    if env == 'prod'
      script
        include google-analytics.js
