#results
  header
    h2 Validation result
    .summary.invalid
      span#countWrongType
      = ' '
      span.fa.fa-exclamation-circle.validation-wrong-type
      = ' '
      span#countMissing
      = ' '
      span.fa.fa-minus-circle.validation-missing
      = ' '
      span#countAdditional
      = ' '
      span.fa.fa-plus-circle.validation-additional

    .summary.valid
      span.icon.fa.fa-check
      | That’s some good-looking JSON.

  #validationResult

