.summary.invalid
  ul
    li.validation-wrong-type
      span#countWrongType
      = ' wrong'
    li.validation-missing
      span.separator
        = ' / '
      span#countMissing
      = ' missing'
    li.validation-additional
      span.separator
        = ' / '
      span#countAdditional
      = ' additional'

.summary.valid
  span.icon.fa.fa-check
  = ' That’s some good-looking JSON.'

.summary.unmet-preconditions
  span.icon.fa.fa-warning
  = ' Do your part first.'

