@import 'generic/flexbox';

* {
    margin: 0;
    padding: 0;
}

@import 'colors';

@mixin default-padding {
    padding: 5px 10px;
}

@mixin section-header {
    @include default-padding;
    color: black;
    background: $gray2;
    font-size: medium;
    border-top: $section-border;
    border-bottom: $section-border;
}


@import 'overall-layout';
$section-border: 1px solid $dark-gray1;
#inputs {
    border-right: $section-border;
}


* {
    font-family: Calibri, 'Lucida Grande', 'Lucida Sans', sans-serif;
}
a {
	text-decoration: none;
}

body > header {
    @include default-padding;
    background: $dark-gray1;
    color: white;
    h1 {
        font-size: large;
        font-weight: normal;
    }
}

main {
    background: $gray2;
}
@import 'jsonEditor/_';
@import 'results/_';
@import 'footer/_';
