include jsonEditor/index

doctype html
html
  head
    meta(charset='utf-8')
    title How is my JSON?
    link(rel='stylesheet', href='app.css')
    link(rel='stylesheet', href=fontAwesome)

  body
    header How is my JSON?

    main
      #inputs
        +jsonEditor('json', 'JSON')
        +jsonEditor('schema', 'JSON Schema')

      include html/results

    include html/footer

    script(src=jQuery)
    script(src='app.js')

    if env == 'prod'
      script
        include html/google-analytics.js
