mixin jsonEditor(id, title)
  section(id=id).jsonEditor
    header
      h2= title
      ul
        li
          span.fa.fa-plus-circle.button.prohibitAdditionalProps(title='Inject "additionalProperties: false"')
          span.fa.fa-indent.button.reformat(title='Reformat')
    textarea
