.jsonEditor {
    @include fill-vertically-with(textarea);

    header {
        display: flex;
        ul { margin-left: auto; }

        @include section-header;
        h2 { font-size: inherit; }
        li {
            display: inline;
        }
    }

    button {
        margin-left: 10px;
        color: $dark-gray1;
        cursor: pointer;
        background: none;
        border: none;
        &:hover { color: $blue; }
        &:disabled {
            color: $dark-gray2;
            cursor: default;
        }
    }
}

$textarea-border-style: 2px solid;
$textarea-border: $textarea-border-style $gray1;
textarea {
    @include default-padding;
    background: $gray1;
    outline: none;
    resize: none;
    border: none;
    border-top: $textarea-border;
    border-left: $textarea-border;
    border-bottom: $textarea-border;
}

.unparseable {
    border: $textarea-border-style $red;
}
