.summary.errors
  ul

.summary.valid
  span.icon.fa.fa-check
  = ' That’s some good-looking JSON.'

.summary.warning.unmet-preconditions
  span.icon.fa.fa-warning
  = ' Do your part first.'

.summary.warning.exception-during-validation
  span.icon.fa.fa-warning
  = ' Cannot validate. Check the console.'

.summary.warning.invalid-schema
  span.icon.fa.fa-warning
  = ' Schema is invalid.'
